<footer class="page-footer blue">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Contact Me</h5>
        <p class="grey-text text-lighten-4">
          ajlende@gmail.com</br>
          1.515.708.4925</br>
          </br>
          4607 Jefferson St</br>
          Apt 702N</br>
          Kansas City, Missouri 64112
        </p>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="white-text" target="_blank" href="https://github.com/ajlende">GitHub</a></li>
          <li><a class="white-text" target="_blank" href="https://www.linkedin.com/in/ajlende">Linkedin</a></li>
          <li><a class="white-text" target="_blank" href="https://plus.google.com/+AlexLende">Google+</a></li>
          <li><a class="white-text" target="_blank" href="https://twitter.com/ajlende">Twitter</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">Copyright &copy; 2015-{{ 'now' | date: '%Y' }} Alex Lende.</div>
  </div>
</footer>
