@import "~bulma/sass/utilities/initial-variables.sass"
@import "../styles/colors.sass"
@import "~bulma/bulma.sass"

.link
  color: $link
  fill: $link
  cursor: pointer
  text-decoration: none
  strong
    color: currentColor
    fill: currentColor
  &:hover
    color: $link-hover
    fill: $link-hover

.monogram
  fill: $light
  margin-bottom: 1.5rem
  max-width: 100%
  +desktop
    height: 8rem
  +touch
    height: 4rem

.title
  +desktop
    font-size: 8rem !important
  +touch
    font-size: 4rem !important

.subtitle
  +desktop
    font-size: 2rem !important
  +touch
    font-size: 1rem !important

.angled
  clip-path: polygon(0 0, 100% 0, 100% 90%, 50% 100%, 0 90%)
  overflow: hidden

.offset
  margin-top: -3.25rem
